* {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.normal {
    background: rgb(102,254,144);
    background: linear-gradient(180deg, rgba(102,254,144,1) 0%, rgba(240,114,167,1) 66%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ayuda {
    background-color: #5a5e5c;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-nav-home {
    display: grid;
    row-gap: 0px;
    grid-template-rows: 62px 15px;
    width: 100%;
}

.container div {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.container-footer {
    display: none;
}

.row-publicidad {
    display: none;
}

.img-logo-nav{
    display: none;
}

.nav-icono-campana {
    padding-right: 15px;
}

.nav-icono-profile {
    padding-right: 0px;
}

.box-centrado-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;        
}

.txt-descripcion {
 display: none;
}

.txt-descripcion-titulo {
    display: none
}

.box-nav-iconos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


h2 {
    color: white;
    font-family: "Poppins";
    text-align: center;
    font-size: 24px;
}

h3 {
    color: #292929;
    font-family: "Poppins";
    text-align: center;
    font-size: 24px;
    padding: 0;
    margin-bottom: 5px;
}

.primary-btn {
    color: white;
    font-family: "Poppins";
    font-size: 16px;
    width: 269px;
    height: 52px;
    background-color: #292929;
    text-decoration: none;
    border-radius: 100px;
    border: 0px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
}

.primary-btn-desktop {
    display: none;
}

.primary-txt {
    color: white;
    font-family: "Poppins";
    font-size: 16px;
    width: 269px;
    height: 49px;
    background-color: #F3F0F0;
    text-decoration: none;
    border-radius: 100px;
    border: 0px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.row-recomendados {
    display: none;
}

.titulo-desktop {
    display: none;
}


/* HOME - HTML */

.container-home {
    display: grid;
    row-gap: 10px;
    grid-template-rows: 24px 240px 3px 24px 240px 3px 24px 240px;
    grid-template-columns: 20px 1fr 20px;
}

.nav-home {
    background-color: #292929;  
}

.nav-profile {
    display: grid;
    justify-items: center;
    align-items: center;
}

.nav-hamburguesa {
    display: grid;
    justify-items: center;
    align-items: center;
}

.col-nav-buscador{
    position: relative;
    background-color: #292929;
    height: 1px;
    z-index: 1;
}

#col-buscador {
    z-index: 16;
}

#box-buscador-historial {
    display: none;
    z-index: 15;
}

.row-titulo {
    grid-column-start: 2;
    grid-column-end: 3;
}

.row-separador {
    grid-column-start: 2;
    grid-column-end: 3;
}

.row-carrousel {
    grid-column-start: 2;
    grid-column-end: 3;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.col-titulo { 
    display: grid;
    justify-items: start;
}

.col-carrousel {
    display: grid;
    justify-items: center;
    align-items: center;
}

.col-footer {
    background-color: red;
}

.secondary-text {
    font-size: 24px;
    font-family: "Poppins";
}

.img-album {
    width: 142px;
    height: 208px;
    margin-left: 10px;
    display: inline-block;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
    border-radius: 13px;
    border: white 2px solid;
}

.box-buscador {  
    display: grid;  
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: end;
}


.buscador {
    display: none;
    width: 0%;
    height: 0%;
    border-radius: 13px;
    font-size: 12px;    
    text-align: center;
    font-family: "Poppins";
    text-decoration: none;
    outline: none;
}

.btn-ul {
    height: 150px;
    list-style: none;
}

.btn-ul li {
    height: 45px;
    list-style: none;
}

.btn-li {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.li-filtros-titulo {
    display: flex;
    align-items: center;
}

.fa-posicion-titulo {
    padding-left: 25%;
}

.fa-posicion-icono {
    padding-left: 15px;
}

.btn-filtro-principal-presionado {
    height: 32px;
    width: 138px;
    text-decoration: none;
    background: linear-gradient(180deg, #F072A7 0%, rgba(255, 255, 255, 0) 100%), #F072A7;   
    outline: none;
    text-decoration: none;
    border-radius: 100px;
    border: 0px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: "Poppins";
    font-size: 16px;
}

.btn-filtro-principal {
    height: 32px;
    width: 138px;
    text-decoration: none;
    background: #F3F0F0;
    outline: none;
    text-decoration: none;
    border-radius: 100px;
    border: 0px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: "Poppins";
    font-size: 16px;
}

.btn-filtro-secundario-presionado {
    height: 24px;
    width: 90px;
    text-decoration: none;
    background: #66FE90;   
    outline: none;
    text-decoration: none;
    border-radius: 100px;
    border: 0px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: "Poppins";
    font-size: 9px;
}

.btn-filtro-secundario {
    height: 24px;
    width: 90px;
    text-decoration: none;
    background: #F3F0F0;   
    outline: none;
    text-decoration: none;
    border-radius: 100px;
    border: 0px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: "Poppins";
    font-size: 9px;
}

.btn-filtro-buscar {
    height: 32px;
    width: 117px;
    text-decoration: none;
    background: #727171;
    outline: none;
    text-decoration: none;
    border-radius: 100px;
    border: 0px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    text-align: center;
    font-family: "Poppins";
    font-size: 16px;
}

#img-profile {
    width: 34px;
    height: 34px;
}

#img-icono-ayuda {
    width: 20px;
    height: 18px;
    padding-left: 10px;
}

#img-icono-flecha {
    width: 35px;
    height: 13px;
    padding-left: 80px;
}

#img-hambur {
    width: 36px;
    height: 36px;
}

#img-hambur:hover {
    width: 36px;
    height: 36px;
    content:url("../img/Hambur-Hover.png");
}

#menu-hamburguesa {
    position: absolute;
    z-index: 20;
    display: none;
    left: -5px;
    background-color: #292929;    
}

#menu-modo{
    position: relative;
    z-index: 20;
    display: none;
    /*background-color: red;*/
    background-color: #292929;    
}

#img-icono-modo {
    width: 20px;
    height: 18px;
    padding-left: 30px;
}

#btn-lupa {
    text-decoration: none;
    outline: none;
    box-shadow: none;
    padding-right: 11px;
    border: none;
    background: none;
}

.txt-a {
    color: white;
    font-size: 22px;    
    text-align: center;
    font-family: "Poppins";
    text-decoration: none;
    padding-left: 10px;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: "Poppins-Medium";
    src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: "Poppins-MediumItalic";
    src: url('../fonts/Poppins-MediumItalic.ttf');
}



/* INDEX - HTML */


.container-index {
    display: grid;
    row-gap: 10px;
    grid-template-rows: 45px 45px 170px 120px 210px; 
    grid-template-columns: 20px 1fr 20px;
}

.row-logo {
    background-color: red;
    grid-column-start: 2;
    grid-column-end: 3;
}

.row-txt {
    background-color: rgb(90, 202, 165);
    grid-column-start: 2;
    grid-column-end: 3;
}

.row-btns {
    background-color: rgb(238, 222, 5);
    grid-column-start: 2;
    grid-column-end: 3;
}

.btns {
    display: grid;
    grid-gap: 34px;
    justify-items: center;
}

.col-index-btns {
    display: grid;
    justify-items: center;
    align-items: center;
}

.col-txt {
    display: grid;
    justify-items: center;
    align-items: center;
}

.col-logo {
    display: grid;
    justify-items: center;
    align-items: center;
}

#img-logo {  
    width: 110px;
    height: 110px; 
}


/* INICIAR SESION - HTML */

.container-iniciar-sesion {
    display: grid;
    row-gap: 10px;
    grid-template-rows: 45px 170px 280px 80px; 
    grid-template-columns: 20px 1fr 20px;
}

.primary-input-txt {
    color: white;
    font-family: "Poppins";
    font-size: 16px;
    width: 269px;
    height: 49px;
    background-color: #F3F0F0;
    text-decoration: none;
    border-radius: 100px;
    border: 0px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.row-back {
    grid-column-start: 1;
    grid-column-end: 4;
}

.col-sesion-back {
    display: grid;
    justify-items: start;
    align-items: end;
}

#img-back {
    height: 36px;
    width: 32px;
}



/* AYUDA - HTML */


.container-ayuda {
    display: grid;
    row-gap: 10px;
    grid-template-rows: 80px 395px 65px; 
    grid-template-columns: 20px 1fr 20px;
}

.row-contenido {
    grid-column-start: 2;
    grid-column-end: 3;
}

.row-footer {
    grid-column-start: 1;
    grid-column-end: 4;
}

.col-contenido {
    background-color: #a1a2a1;
    border-radius: 13px;
    border: 0px solid #000000;
}

.col-footer {
    position: sticky;
    background-color:#292929;
}

.box-contenido {
    padding: 25px;
    box-sizing: border-box;
    height: 100%;
    background-color: red;
}

.btn-ayuda {
    position: relative;
    background-color: #F3F0F0;
    height: 55px;
    border-radius: 100px;
    border: 0px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.txt-btn-ayuda {
    color: black;
    font-family: "Poppins";
    font-size: 18px;
    background-color: #F3F0F0;
    text-decoration: none;
}

.img-back {
    height: 36px;
    width: 32px;
}




/* FILTROS-BUSQUEDA-MUSICA - HTML */


.container-busqueda-musica {

    display: grid;
    row-gap: 10px;
    grid-template-rows: 45px 35px 30px 150px 250px; 
    grid-template-columns: 20px 1fr 20px;

}

.a{
    grid-column-start: 2;
    grid-column-end: 3;
}

.b{
    grid-column-start: 2;
    grid-column-end: 3;
}

.c{
    grid-column-start: 2;
    grid-column-end: 3;
}

.d{
    grid-column-start: 2;
    grid-column-end: 3;
    border-bottom: 1px solid #8a111150;
}

.e{
    grid-column-start: 2;
    grid-column-end: 3;
}

.tags-busqueda {
    color: #292929;
    font-family: "Poppins";
    text-align: center;
    font-size: 16px;
}

.img-resultado-album {
    width: 80px;
    height: 115px;
    margin-left: 10px;
    display: inline-block;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
    border-radius: 13px;
    border: white 2px solid;
}

.img-resultado-profile {
    width: 90px;
    height: 90px;
    margin-left: 10px;
    display: inline-block;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
    border-radius: 100px;
    border: white 2px solid;
}

.list-canciones {
    list-style: none;
}

.canciones {
    padding-top: 20px;
}

.box-titulo {
    display: flex;
    justify-content: start;
    align-items: center;
}


/* TUS PLAYLISTS - HTML */


.container-playlists {

    display: grid;
    row-gap: 10px;
    grid-template-rows: 45px 163px 30px 40px 40px 40px 40px 40px; 
    grid-template-columns: 20px 1fr 20px;

}

.g{
    grid-column-start: 2;
    grid-column-end: 3;
}

.h{
    grid-column-start: 2;
    grid-column-end: 3;
    border-bottom: 1px solid #d5879c;
}

.i{
    grid-column-start: 2;
    grid-column-end: 3;
    border-bottom: 1px solid #d5879c;
}

.j{
    grid-column-start: 2;
    grid-column-end: 3;
    border-bottom: 1px solid #d5879c;
}

.k{
    grid-column-start: 2;
    grid-column-end: 3;
    border-bottom: 1px solid #d5879c;
}

.l{
    grid-column-start: 2;
    grid-column-end: 3;
    border-bottom: 1px solid #c26f85;
}

.m{
    grid-column-start: 2;
    grid-column-end: 3;
}

.img-album-playlist {
    width: 112px;
    height: 162px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
    border-radius: 13px;
    border: white 2px solid;
}

.col-playlist {
    display: flex;
    justify-content: center;    
}

.col-tabla {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-playlist {
    color: #292929;
    font-family: "Poppins";
    text-align: center;
    font-size: 16px;
}

.elemento-tabla {
    width: 12px;
    height: 12px;
}
.icono-blanco{
    color:#FFEFF6;
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icono-blanco-fuerte{
    color:#fffefe;
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tabla-titulo {
    color: #292929; 
    font-family: "Poppins-Medium";
    text-align: center;
    font-size: 14px;
}

.tabla-valor {
    color: #FEFEFE; 
    font-family: "Poppins-Medium";
    text-align: center;
    font-size: 14px;
}


/* REPRODUCTOR - HTML */

.container-reproductor {
    border-top: 1px solid #FFEFF6;
    display: grid;
    grid-template-rows: 25px 12px 45px; 
    position: fixed;
    width: 100%;   
    top: 558px; 
}

.row-reproductor {
    background-color: #292929;
    grid-column-start: 1;
    grid-column-end: 4;
}

.img-flecha-rep {
    width: 25px;
    height: 15px;
}

.linea-reproductor {
    width: 222px;
    height: 3px;
    background-color: pink;
}

.titulo-cancion-reproductor {
    color: white;
    font-family: "Poppins";
    text-align: center;
    font-size: 10px;
}

.icono-repr {
    width: 28px;
    height: 33px;
}

.icono-repr-sonido {
    width: 24px;
    height: 22px;
}

.col-reproductor {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;    
}

.col-sonido {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;    
}


/* ALBUM - HTML */

.container-album {

    display: grid;
    row-gap: 10px;
    grid-template-rows: 45px 180px 300px; 
    grid-template-columns: 20px 1fr 20px;    
}

.album-divs{
    grid-column-start: 2;
    grid-column-end: 3;
}

.img-album-lay {
    width: 116px;
    height: 166px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
    border-radius: 13px;
    border: white 2px solid;    
}

.col-album {
    display: flex;
    justify-content: center;
}

.info-album {
    color: #FEFEFE;
    font-family: "Poppins-Medium";
    text-align: center;
    font-size: 14px;
}

.tabla-canciones {
    color: #FEFEFE;
    font-family: "Poppins-Medium";
    text-align: center;
    font-size: 14px;
    border-collapse: collapse;

}

.tabla-canciones td {
    height: 60px;
    width: 100px;
    border-bottom: 1px solid #8a111150;
}

.tabla-canciones th {
    color: black;
    height: 30px;
    border-bottom: 1px solid #8a111150;
}

.div-votacion {
    background-color: white;
    height: 40px;
    width: 150px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
    border-radius: 13px;
    border: white 2px solid;  
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-votacion {    
    background: none;
    outline: none;
    border: 0px solid;
    padding:3%;
}

.btn-desactivado{
    color: grey;
}

.btn-negativo-activo{
    color: #BF0000;
}

.btn-negativo-activo:hover{
    color: #d40303;
}

.btn-positivo-activo{
    color: #00B21C;
}

.btn-positivo-activo:hover{
    color: #04cf22;
}

.img-vot-negativo {
    color: black;
    height: 20px;
    width: 20px;
}

.txt-porcentaje {
    color: #00B21C;
    font-family: "Poppins-Medium";
    text-align: center;
    font-size: 29px;
    width: 70px;
    border-left: 1px solid #dddbdb;
    border-right: 1px solid #dddbdb;
}


/* PLAYLISTS - CANCIONES - HTML */

.container-playlist-canciones {

    display: grid;
    row-gap: 10px;
    grid-template-rows: 45px 180px 25px 70px; 
    grid-template-columns: 20px 1fr 20px;    
}

.album-divs{
    grid-column-start: 2;
    grid-column-end: 3;
}

.img-album-lay {
    width: 116px;
    height: 166px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
    border-radius: 13px;
    border: white 2px solid;    
}

.col-album {
    display: flex;
    justify-content: center;
}

.info-album {
    color: #FEFEFE;
    font-family: "Poppins-Medium";
    text-align: center;
    font-size: 14px;
}

.img-lapiz {
    height: 35px;
    width: 35px;
}

.img-com {
    height: 35px;
    width: 35px;
}


/* CANCION  - HTML */


.container-cancion {

    display: grid;
    row-gap: 10px;
    grid-template-rows: 45px 270px 80px; 
    grid-template-columns: 20px 1fr 20px;    
}

.col-cancion {
    display: flex;
    justify-content: center;
}

.col-cancion-sync {
    display: flex;
    justify-content: flex-end;
}

.cancion-reproductor {
    height: 3px;
    width: 320px;
}

.img-cancion {
    width: 179px;
    height: 264px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
    border-radius: 13px;
    border: white 2px solid;    
}

.row-cancion {
    grid-column-start: 2;
    grid-column-end: 3;    
}

.num-reproductor {
    color: #FEFEFE;
    font-family: "Poppins-Medium";
    text-align: center;
    font-size: 13px;
}

.col-cancion-rep {    
    display: flex;
    justify-content: space-around;
}

.box-reproductor {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.box-cancion-start {
    display: flex;
    justify-content: start;
}

.box-cancion-end {
    display: flex;
    justify-content: flex-end;
}

.container-cancion-reproductor {

    display: grid;
    row-gap: 2px;
    grid-template-rows: 15px 15px 15px 65px 28px; 
    grid-template-columns: 20px 1fr 20px;   
}

.col-down {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-icono-medio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-icono-derecho {
    display: flex;
    justify-content: space-around;
}

@media only screen and (min-width: 1024px) {
    
    /* HOME - HTML*/

    .container-nav-home {
        display: grid;
        row-gap: 0px;
        grid-template-rows: 62px 79px;
        width: 100%;
        height: 100%;
    }

    .container-home {
        display: grid;
        row-gap: 10px;
        grid-template-rows: 100px 240px 10px 100px 240px 3px 24px 340px;
        grid-template-columns: 17% 1fr 5%;
        width: 100%;        
    }

    .container-footer {
        display: grid;
        row-gap: 10px;
        grid-template-rows: 80px;
        width: 100%;  
        position: fixed;
        top: 950px;
        border-top: 1px solid pink;
    }

    .nav-home {
        background-color: #292929;  
        height: 141px;
    }

    .row-publicidad {
        grid-column-start: 0;
        grid-column-end: 2;  
        grid-row-start: 1;
        grid-row-end: 12;
        background-color: #292929;
        display: block;
    }

    .row-footer {
        background-color: #292929;
        height: 100%;
    }

    .col-carrousel-desktop {
        display: grid;
        justify-items: center;
        align-items: center;        
        padding-left: 70px !important;        
    }

    .row-carrousel {
        grid-column-start: 2;
        grid-column-end: 3;        
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        background: rgba(255, 255, 255, 0.075);
        border-radius: 25px;
    }

    #img-lupa {
        display: none;
    }

    .box-buscador {
        display: flex;
        justify-content: center;
    }

    .col-nav-buscador{
        position: absolute;
        background-color: #292929;
        height: 1px;
        z-index: -2;
    }  

    .buscador {
        display: block;
        width: 80%;
        height: 35%;
        border-radius: 100px;
        font-size: 12px;    
        text-align: center;
        font-family: "Poppins";
        text-decoration: none;
        outline: none;
        z-index: 5;
    }

    .box-centrado {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;        
    }

    .txt-footer {
        color: white;
        font-size: 16px;
    }

    .secondary-text-desktop {
        font-size: 30px;
        padding-left: 25px;
    }

    .logo-footer {
        width: 47px;
        height: 49px;
    }

    .img-bandera-argentina {
        width: 48px;
        height: 30px;
    }

    #img-hambur {
        display: none;
    }

    .img-logo-nav-desktop {
        width: 110px;
        height: 110px;
        display: block;
    }    

    .box-menu {
        display: flex;
        justify-content: center;
    }

    .img-album {
        margin-left: 55px !important;
    }    

    .btn-filtro-secundario-desktop {
        height: 32px;
        width: 134px;
        text-decoration: none;
        background: #F3F0F0;   
        outline: none;
        text-decoration: none;
        border-radius: 100px;
        border: 0px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
        font-family: "Poppins";
        font-size: 14px;
    }

    .btn-filtro-principal {
        height: 40px;
        width: 144px;
        text-decoration: none;
        background: #F3F0F0;
        outline: none;
        text-decoration: none;
        border-radius: 100px;
        border: 0px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
        font-family: "Poppins";
        font-size: 16px;
    }

    /*PLAYLIST - HTML*/

    .container-playlists {

        display: grid;
        row-gap: 10px;
        column-gap: 55px;
        grid-template-rows: 100px 210px 450px 15px; 
        grid-template-columns: 17% 1fr 1fr 5%; 
        width: 100%;     
    }

    .a{
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .b{
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .c{
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .d{
        grid-column-start: 2;
        grid-column-end: 3;        
    }

    .e{
        grid-column-start: 3;
        grid-column-end: 4;
    }   

    .col-playlist-desktop  {
        border-bottom: 1px solid rgba(248, 245, 245, 0.24);        
    }

    .box-playlist-desktop {
        display: flex;
        justify-content: start;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .box-playlist-recomendadas { 
        display: flex;
        align-items: center;
        height: 50%;        
    }

    .titulo-desktop {
        font-size: 30px;
        margin-left: 10px !important;
    }

    .row-recomendados {
        display: block;
        background: rgba(255, 255, 255, 0.075);
        border-radius: 15px;
    }
    
    .titulo-desktop {
        display: block;
    }

    .img-album-playlist-desktop {
        width: 142px;
        height: 192px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
        border-radius: 13px;
        border: white 2px solid;
    }

    .txt-descripcion {
        width: 50%;
        color: #292929;
        text-align: center;
        display: block;
    }

    .txt-descripcion-titulo {
        width: 100%;
        color: #292929;
        text-align: center;
        display: block;
    }

    .box-centrado-desktop {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;        
    }

    .primary-btn-desktop {
        color: white;
        font-family: "Poppins";
        font-size: 16px;
        width: 269px;
        height: 52px;
        background-color: #292929;
        text-decoration: none;
        border-radius: 100px;
        border: 0px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 50%;
        display: block;
        outline: none;
    }

    .col-album-canciones {
        background: rgba(255, 255, 255, 0.075);
        border-radius: 15px;
    }  


    /* PLAYLIST - CANCIONES */

    .container-playlist-canciones {

        display: grid;
        row-gap: 10px;
        column-gap: 10px;
        grid-template-rows: 100px 250px 155px ; 
        grid-template-columns: 17% 1fr 1fr 5%; 
        width: 100%;
    }

    .row-playlist-back-titulo {
        
        background-color: yellow;
    }

    .row-playlist-img-descripcion {       
        grid-column-start: 2;
        grid-column-end: 4;  
        background-color: violet;
    }

    .row-playlist-titulo-canciones {
        grid-column-start: 2;
        grid-column-end: 4;  
        background-color: blue;
    }

    .row-playlist-tabla-canciones{
        grid-column-start: 2;
        grid-column-end: 4;  
        background-color: red;
    }

}