
#canvas-container {
    width: 100%;
    height: 610px;
    text-align:center;
 } 

 canvas {
    border:grey solid 1px;
    display: inline;
    background-color: white;
}

#herramientas-container {
    width: 100%;
    text-align:center;
}

#muestrario {
    display: inline;
    width: 5%;
}

#color_azul{
    color: white;
    background-color: #0000FF;
}

#color_rojo{
    color: white;
    background-color: #FF0000;
}

#color_verde{
    color: white;
    background-color: #35C612;
}

h1 {
    width: 100%;
    text-align:center;
}

#filtros-container {
    width: 100%;
    text-align:center;
}

#range-container {
    width: 100%;
    text-align:center;        
 } 

 #cuerpo {
    background-color: #9db08d;
}

#btn_borrar, #btn_lapiz ,#btn_reiniciar ,#btn_descargar ,#btn_cargar_imagen ,#btn_negativo ,#btn_binarizacion ,#btn_sepia,#btn_blur{
    background-color: #518571;
}

#input-link {
    display: none;
}

h1 {
    color: white;
}
