
.canvas_off {
    display: none;
}

.canvas_on{
}

.btn_off {
    display: none;
}

.btn_on{

}

.valor_tam {

}

.valor_tam_off {
    display: none;
}

body {
    background-color: #4db592;
}

h1 {
    color: white;
    background-color: white;
}