
.canvas_off {
    display: none;
}

.canvas_on{
}

.btn_off {
    display: none;
}

.btn_on{

}

.valor_tam {

}

.valor_tam_off {
    display: none;
}

body {
    background-color: #4db592;
    overflow-x: hidden;
}

h1 {
    color: white;
}

#j2 {
    position: absolute;
    top: 26px;
    left: 500px;
}

.btn_off_blue {
}

.btn_on_blue{
    color: blue;
}

.btn_off_red {
}

.btn_on_red{
    color: red;
}

